
.service-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 20px;
    font-size: 15px;
    background-color: #f26529;
    border: none;
    color: white;
    padding:10px 25px;
}

/* .serviceCard:hover img{
    overflow: hidden;
    transform: scale(1.2);
    transition: transform 1s;
} */
.serviceCard:hover{
    box-shadow: 1px 1px 7px 2px gray;
    transition: all 0.4s;
}
.serviceCard{
    border: none;
}
